<!DOCTYPE html>
<html>
  <head>
    <title>Michael Hu</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>

    <%= stylesheet_pack_tag 'home' %>
    <%= javascript_pack_tag 'home' %>
  </head>

  <body>
    <div class="body-hide-x">
      <%= yield %>
    </div>
  </body>
</html>
